body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}
/*
header
*/
.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: #ecf0f1;
  padding:0px;
  margin:0px;

}

.header logo{
  margin-right: 2em;
  width: 60px;
}

.menu a{
  text-decoration: none;
  margin-left: 2em;
  margin-right: 2em;
  padding: 10px;
  color: #3c6382;
}

.menu a:hover{
  color:red;
}
@media screen and (max-width:600px){
  .header{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      background-color: rgba(45, 52, 54,0.8);
      padding:0px;
      margin:0px;
        width: 100%;

    }

    .header logo{
      margin-right: 2em;
      width: 20px;
      display: flex;
      flex-direction: column;
    }

    .menu a{
      text-decoration: none;
      margin-left:0em;
      margin-right: 0em;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid black;
      text-align:center;

    }

    .menu a:hover{
      color:black;
    }
}
/*
header
*/

/*
nouveautés
*/
#nouveautés{
  display: flex;
  flex-direction:column;
  align-items: center;
  line-height: 30px;
}
#nouveautés .text1 p{
  text-align: center;
  font-family: 'lato','Arial', sans-serif;
  color: #f368e0;
}
#nouveautés .text1 h2{
  font-family: 'lato','Arial', sans-serif;
  font-size: 2em;
}
#nouveautés .text1{
  background-image: url('shoes.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 450px;
}
@media screen and (max-width: 600px){
  #nouveautés{
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height: 30px;
  }
  #nouveautés .text1 p{
    text-align: center;
    font-family: 'lato','Arial', sans-serif;
    color: #009432;
  }
  #nouveautés .text1 h2{
    font-family: 'lato','Arial',sans-serif;
    font-size: 2em;
    text-align: center;
    color: #3B3B98;
  }
  #nouveautés .text1{
    background-image: url('shoes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
  }
}
/*
nouveautés
*/

/*
homme
*/
#homme{
  background-color: #34495e;
}
.block{

  padding-top:10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  text-align: center;
}
#homme .block h4{
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
  color: white;
  font-size: 2em;
  position:absolute;
  text-align: center;
  margin-left: 150px;
  margin-top: 175px;
  font-family: 'lato','Ariial', sans-serif;
  text-shadow:   50px 20px 30px 40px;
}

}
@media screen and (max-width:600px){
  #homme{
    background-color: #D980FA;
  }
  .block{

    padding-top:10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    text-align: center;
  }
  #homme .block h4{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    color: white;
    font-size: 2em;
    position:absolute;
    text-align: center;
    margin-left: 10px;
    margin-top: 175px;
    font-family: 'lato','Ariial', sans-serif;
    text-shadow:   50px 20px 30px 40px;
  }
}

/*
homme2
*/

/*
femme
*/
#femme{
  display: flex;
  flex-direction: row;

  color:#34495e;
}
#femme .femmes2 {
  background-image: url(./femme2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 450px;
}
#femme .text2 h2{
  text-align: center;
  font-size: 2em;
  font-family: 'Lato','Arial',sans-serif;
}
#femme .text2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
}
#femme .text2 p{
  display: flex;
  align-items:center;
  justify-content: flex-start;
}


@media screen and (max-width:600px){
  #femme{
    display: flex;
    flex-direction: column;
    color:white;
    background-color:#5758BB;
  }
  #femme .femmes2{
    width: 100%;
    height: 450px;
  }
  #femme .text2 h2{
    text-align: center;
    font-size: 2em;
    font-family: 'Lato','Arial',sans-serif;
  }
  #femme .text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
  }
  #femme .text2 p{
    display: flex;
    align-items:center;
    justify-content: flex-start;
  }
}
/*
femme
*/


/*
footer
*/
.container4{
  background-color: #ecf0f1;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0px;
}

.container4 .socio a img{
  height: 30px;
  width: 30px;
  margin-bottom: 25px;
  margin-left: 2em;
  margin-right: 2em;
}
span{
  margin-bottom: 35px;
  font-family: 'Arial',sans-serif;

}
@media screen and (max-width:600px){
  .container4{
    background-color: #9980FA;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }

  .container4 .socio a img{
    height: 30px;
    width: 30px;
    margin-bottom: 25px;
    margin-left: 2em;
    margin-right: 2em;
  }
  span{
    margin-bottom: 35px;
    font-family: 'Arial',sans-serif;

  }
}
/*
footer
*/
